export(extract_field_from_gencode)
export(genomic_corr_pintersect)
export(mb)
export(reduce2)
export(genomic_regions_correlation)
export(set_counter)
export(print.bp)
export(genomic_corr_reldist)
export(genomic_corr_sintersect)
export(cor_cols)
export(correlated_regions)
export(methylation_subtype_classfication)
export(chromatin_states_transition_chord_diagram)
export(enriched_heatmap_list_on_gene)
export(add_subtype_specificity)
export(get_peak_list)
export(cr_hilbert)
export(filter_correlated_regions)
export(extract_sites)
export(correlated_regions_per_gene)
export(logical_segment)
export(bp)
export(available_gencode_field)
export(heatmap_diff_methylation_in_genomic_features)
export(chipseq_hooks)
export(enriched_heatmap_list_on_genomic_features)
export(cr_overlap_to_genomic_features)
export(genomic_corr_absdist)
export(scatterplot_with_boxplot)
export(common_regions)
export(annotate_to_genomic_features)
export(make_transition_matrix_from_chromHMM)
export(global_methylation_distribution)
export(wgbs_qcplot)
export(cr_gviz)
export(cr_scatterplot_me)
export(basic_genomic_regions_stat)
export(genomic_corr_jaccard)
export(get_mean_methylation_in_genomic_features)
export(systemdf)
export(cr_qc)
export(methylation_hooks)
export(annotate_to_gene_models)
export(find_neighbours)
export(subgroup_specific_genomic_regions)
export(load_config)
export(reduce_cr)
export(plot_subgroup_specificity_heatmap)
export(percentOverlaps)
export(kb)
export(cr_enriched_at_tss)
export(plot_coverage_and_methylation_on_genome)
export(compare_meth)
export(enriched_heatmap_list_on_tss_cgi)
export(plot_multiple_samples_methylation_on_genome)
export(reduce_cr_gap_test)
export(genomic_corr_nintersect)






import(circlize)
import(GetoptLong)
import(parallel)
import(GenomicFeatures)
import(Gviz)
import(ComplexHeatmap)
importFrom("EnrichedHeatmap", EnrichedHeatmap, copyAttr, getSignalsFromList, normalizeToMatrix, anno_enriched, makeWindows)
import(HilbertCurve)
import(gtrellis)
import(ConsensusClusterPlus)
import(GlobalOptions)
import(GenomicRanges)
import(IRanges)
importFrom("ggplot2", ggplot, geom_bar, aes, facet_wrap, scale_fill_manual, xlab, ylab, theme, ggtitle, element_text)
importFrom("stats", ecdf)
import(grid)
importFrom("matrixStats", rowIQRs, rowSds, colMedians, rowVars, rowTabulates, rowMaxs)
importFrom("GenomeInfoDb", `seqlevels<-`, "seqlengths<-")
importFrom("S4Vectors", DataFrame)
importFrom("numbers", mGCD)

useDynLib(epic)
importFrom(Rcpp, sourceCpp)
import(RColorBrewer)
importFrom(grDevices, col2rgb, rgb)




